/* Ensure that the body and HTML elements have a minimum height of 100% */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent the default body scrollbars */
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; /* Adjust as needed */
}

.product-card-container {
  margin-top: 200px; /* Adjust as needed */
}

/* Create a container for your content */
#content-container {
  min-height: 100%; /* Ensure the container takes up at least the full viewport height */
  overflow: auto; /* Add scrollbars when content overflows the container */
  padding-bottom: 50px; /* Reserve space for a fixed footer, adjust as needed */
}

/* Define your website's header, content, and footer styles */
#header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

#main-content {
  padding: 20px;
}

#footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Add styles for other elements as needed */

/* Example: Style a section with a background color */
.section {
  background-color: #f0f0f0;
  padding: 20px;
}
